@using Horrografia.Client.Shared.Components.Game

<div class="game-display">
    
    <div class="game-character-container">
        <div class="main-character block">
            <img class="pixel-art" src=@mainCharacterImagePath alt="Character"/>
        </div>
    </div>
    
    <div class="game-lives-container">
        <progress class="progress is-danger" value="@CurrentLifeString" max="100">@CurrentLifePercentage</progress>
    </div>

    <div class="game-input-container">
        <div class="block">
            <div class="article-bottom">
                <input class="input is-primary is-medium game-input" type="text" placeholder="Forma correcta" @bind="CurrentInput">
            </div>
        </div>
        <div class="block">
            <div class="article-bottom">
                <button class="button is-primary" @onclick="CheckAnswer">Intentar</button>
            </div>
        </div>
    </div>

    <div class="game-item-container">
        <img class="pixel-art @currentItemCSS" src=@currentItemImagePath alt="item"/>
    </div>
    
    

    <div class="game-wrongform-container">
        <div class="block">
            <div class="article-bottom">
                <div class="container game-wrongform">
                    <div class="notification is-primary">
                        @CurrentIncorrectForm
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="game-score-container is-hidden-mobile">
        <div class="block">
            <div class="game-score-wrapper">
                <div class="container game-score">
                    <div class="notification is-primary">
                        @($"Puntaje: {CurrentGameScore}")
                    </div>
                </div>
            </div>
        </div>
    </div>
   
</div>

<FirstInstructionDialog ShowDialogue="ShowInstructions"OnNoPressed="CloseInstructionDialog" OnYesPressed="ShowInstructionDialog"/>
    
<SecondInstructionDialog ShowDialogue="UserWantsToSeeInstructions" OnButtonPressed="CloseInstructionDialog"/>