<section class="hero is-info is-fullheight">
    <div class="hero-body game-display">
        <div class="main-character">
            <img class="pixel-art" src=@mainCharacterImagePath alt="Character"/>
        </div>
    </div>
</section>