@if (IsLoading)
{
    <section class="section is-large">
        <div class="container has-text-centered is-justify-content-center">
            <div class="columns is-mobile is-centered">
                <div class="column is-8">
                    <div class="block has-text-centered">
                        <h1 class="title">Cargando la Partida</h1>
                    </div>
                    <div class="block has-text-centered">
                        <h2 class="subtitle">@SubTitulo</h2>
                    </div>
                </div>
            </div>
            <div class="columns">
                <div class="column ">
                    <progress class="progress is-medium is-primary " max="100">45%</progress>
                </div>
            </div>
        </div>
    </section>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public string SubTitulo { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}