@page "/contacto"

<section class="hero is-fullheight-with-navbar">
    <div class="hero-body">
        <div class="container has-text-centered">
            <div class="columns is-8 is-variable ">
                <div class="column is-two-thirds has-text-left">
                    <h1 class="title is-1">Contáctenos</h1>
                    <p class="is-size-4">
                        Si gusta darnos algún tipo de retroalimentación o simplemente desea comunicarse con nosotros, esta es nuestra información. 
                    </p>
                </div>
                <div class="column is-one-third has-text-left">
                    <div class="block">
                        <h3 class="has-text-weight-bold is-size-5">Correo electrónico</h3>
                        <p>horrografia.inil@ucr.ac.cr</p>
                    </div>
                    <div class="block">
                        <h3 class="has-text-weight-bold is-size-5">Número de teléfono</h3>
                        <p>(506) 2511-7264</p>
                    </div>
                    <div class="block">
                        <h3 class="has-text-weight-bold is-size-5">Dirección</h3>
                        <p class="has-text-justified">Oficina 121. Primer piso, Facultad de Letras, Ciudad Universitaria Rodrigo Facio, Universidad de Costa Rica. 
                        San Pedro de Montes de Oca, San José, Costa Rica.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>