@page "/dashboard"
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Horrografia.Client.Shared.Components.Dashboard
@attribute [Authorize(Roles = "Admin")]


<div class="columns is-centered block">
    <div class="column is-one-third">
        <div class="dashboard-administration-container">
            <div class="card article  m-auto dashboard-administration-card">
                    <div class="media-content has-text-centered">
                        <p class="title article-title">
                            Administrar Niveles
                        </p>
                    </div>
                    <div class="content article-body has-text-centered">
                        <p>
                            Editar, añadir o eliminar niveles
                        </p>
                        <div class="article-bottom">
                            <a class="button is-success is-light" href="/dashboard/niveles">Administrar</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="dashboard-administration-container">
            <div class="card article  m-auto dashboard-administration-card">
                    <div class="media-content has-text-centered">
                        <p class="title article-title">
                            Administrar items
                        </p>
                    </div>
                    <div class="content article-body has-text-centered">
                        <p>
                            Administrar etiquetas
                        </p>
                        <div class="article-bottom">
                            <a class="button is-success is-light" href="/dashboard/items">Administrar</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
    <div class="column is-one-third">
        <div class="dashboard-administration-container">
            <div class="card article m-auto dashboard-administration-card">
                    <div class="media-content has-text-centered">
                        <p class="title article-title">
                            Administrarción general
                        </p>
                    </div>
                    <div class="content article-body has-text-centered">
                        <p>
                            Administrar permisos y escuelas
                        </p>
                        <div class="article-bottom">
                            <a class="button is-success is-light" href="/dashboard/permisos">Administrar</a>
                        </div>
                    </div>
            </div>
        </div>
    </div>
</div>
<div class="block px-5">
    <StatsView/>
</div>