@page "/estudiantes"
@using Microsoft.AspNetCore.Authorization
@using Horrografia.Client.Shared.Components.General
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication
@using Horrografia.Client.Shared.Components.Dashboard
@attribute [Authorize(Roles = "Admin, Profesor")]

<PageLoading Titulo="Administración estudiantil" IsLoading="@IsLoading">
    @foreach (var user in Usuarios)
    {
        <p>@user.nombreDeUsuario</p>
    }
</PageLoading>
