@page "/"
@*Hero *@
<section class="hero is-info is-medium is-bold" style="height: 500px;">
    <div class="hero-body index-display">
        <div class="container has-text-centered">
            <h1 class="title">
                Porque aprender a escribir sin faltas ortográficas no debería ser difícil
            </h1>
        </div>
    </div>
</section>

<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">
                                Introduciendo una propuesta lúdica para aprender ortografía
                            </p>
                        </div>
                    </div>
                    <div class="content article-body has-text-justified">
                        <p>
                            La aplicación Horrografia nace de la necesidad de tener herramientas tecnológicas atractivas
                            y didácticas complementarias a la enseñanza de la ortografía, dado que actualmente existen
                            pocas opciones de este tipo disponibles para estudiantes de secundaria o estudiantes de español
                            como lengua extranjera. Esta propuesta didáctica está fundamentada en investigación lingüística
                            realizada en el Instituto de Investigaciones Lingüísticas (INIL) de la Universidad de Costa Rica.
                        </p>
                        @if (!_showAditionalData)
                        {
                            <div class="article-bottom">
                                <button class="button" @onclick="ToggleAditionalData">
                                    <span class="icon is-small">
                                        <i class="fas fa-arrow-down"></i>
                                    </span>
                                </button>
                            </div>
                        }
                        else
                        {
                            <p>
                                Horrografía propone una forma diferente y más atractiva de practicar la ortografía y reforzar el
                                aprendizaje del léxico común, desde un acercamiento lúdico. Consiste en una aplicación web diseñada
                                para cualquier plataforma que permite al usuario mejorar su ortografía a partir de una dinámica de juego.
                            </p>

                            <p>
                                Los investigadores, la Dra. Carla Jara Murillo y el Dr. Jorge Antonio Leoni de León, ambos del Instituto
                                de Investigaciones Lingüísticas (INIL) de la Universidad de Costa Rica, se propusieron elaborar herramientas
                                computacionales interactivas especializadas en el mejoramiento de la expresión escrita. El proyecto 745-B2A13
                                Desarrollo de herramientas interactivas para el mejoramiento y certificación del español, inscrito en el INIL,
                                fue el que permitió el desarrollo de la aplicación Horrografía.
                            </p>

                            <div class="article-bottom">
                                <button class="button" @onclick="ToggleAditionalData">
                                    <span class="icon is-small">
                                        <i class="fas fa-arrow-up"></i>
                                    </span>
                                </button>
                            </div>
                        }
                    </div>
                </div>
            </div>


            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">
                                ¡Perfecto para quienes que deseen aprender a escribir bien!
                            </p>
                        </div>
                    </div>
                    <div class="content article-body has-text-justified">
                        <p>
                            La aplicación de horrografía tiene múltiples niveles gratuitos que te ayudarán a prácticar tu ortografía
                            y reforzar aquellas áreas en las que estés teniendo problemas.
                        </p>

                        <div class="article-bottom">
                            <button class="button is-success is-light">Jugar Ahora</button>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </section>
</div>



@code{
    private bool _showAditionalData = false;

    private void ToggleAditionalData()
    {
        _showAditionalData = !_showAditionalData;
    }

}