@page "/perfil"
@using Microsoft.AspNetCore.Authorization
@using Horrografia.Client.Shared.Constants
@using Horrografia.Client.Shared.Components.General
@using Horrografia.Client.Shared.Components.Profile
@attribute [Authorize]

<PageLoading Titulo="Mi Perfil" IsLoading="@_isLoading">
    @if (_lecturaExitosa)
    {
        <div class="block tabs is-centered is-medium is-boxed">
            <ul>
                <li class=@_generalActiveString>
                    <a @onclick="c => ChangeTabContent(ActiveTabState.ShowGeneralTab)">General</a>
                </li>
                <li class=@_historyActiveString>
                    <a @onclick="c => ChangeTabContent(ActiveTabState.ShowHistoryTab)">Historial</a>
                </li>
                <li class=@_schoolActiveString>
                    <a @onclick="c => ChangeTabContent(ActiveTabState.ShowSchoolTab)">Escuela</a>
                </li>
            </ul>
        </div>
        @switch (_activeTab)
        {
            case ActiveTabState.ShowGeneralTab:
                <UserData User="User"
                          NumberOfGames="@PartidasJugadas.Count"
                          IsUserInSchool="_isUserInSchool"
                          UserSchool="UserSchool"/>
                break;
            case ActiveTabState.ShowHistoryTab:
                <UserHistory Historial="PartidasJugadas"
                             NivelesInDatabase="Niveles"
                             Errores="Erorres"
                             OnMistakesRequest="GetMistakesMadeByReportID"/>
                break;

            case ActiveTabState.ShowSchoolTab:
                @if (!_isUserInSchool)
                {
                    <UserSchool OnSchoolVerification="SearchSchoolExistence"
                                OnUserSchoolRegistration="RegisterUserToSchool" />
                }
                else
                {
                    <SchoolData Escuela="UserSchool"
                                Estudiantes="Estudiantes"
                                Profesores="Profesores" />
                }
                break;
        }
    }
    else
    {
        <ErrorMessage />
    }
</PageLoading>