@page "/sobre"

<section class="hero is-info is-medium is-bold" style="height: 500px;">
    <div class="hero-body about-display">
        <div class="container has-text-centered">
            <h1 class="title">
                Conozca los orígenes de el proyecto de Horrografía
            </h1>
        </div>
    </div>
</section>

<div class="container">
    <!-- START ARTICLE FEED -->
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">
                                Sobre los orígenes del proyecto
                            </p>
                        </div>
                    </div>
                    <div class="content article-body has-text-justified">
                        <p>
                            El proyecto de investigación 745-B2A13 Desarrollo de herramientas interactivas para el mejoramiento 
                            y certificación del español escrito, del Dr. Antonio Leoni de León y la Dra. Carla Victoria 
                            Jara Murillo, es un proyecto del Instituto de Investigaciones Lingüísticas de la Universidad 
                            de Costa Rica cuyo objetivo fue elaborar un conjunto de herramientas computacionales interactivas 
                            especializadas en el mejoramiento de la expresión escrita.
                        </p>

                        <p>
                            Este proyecto se desarrolló en tres etapas. La primera etapa consistió en la elaboración de un corpus 
                            cacográfico del español de Costa Rica y estuvo a cargo de la Dra. Jara Murillo. El resultado de esta 
                            fase fue el COCAE: Corpus cacográfico adulto del español de Costa Rica. Este corpus se compiló a partir 
                            de datos textuales reales extraídos de internet. Estos datos se codificaron y se tabularon con el objetivo 
                            de crear un listado de los vocablos cacográficos más frecuentes en una muestra de textos escritos por 
                            costarricenses y publicados como comentarios personales en diversos medios de comunicación en línea.
                        </p>

                        <p>
                            Con la creación del COCAE se pudo identificar los errores ortográficos más frecuentes en el español
                            de Costa Rica y tener una base de datos léxica con la cual alimentar la aplicación Horrografía.
                            Para obtener mayor información sobre el COCAE, se puede consultar el informe del proyecto en el siguiente
                            <a href="http://163.178.170.21/handle/10669/8928" target="_blank">enlace</a>.
                        </p>
                        
                        <p>
                            La segunda etapa consistió en el desarrollo de un prototipo del juego Horrografía, que en un inicio estuvo 
                            a cargo del Dr. Antonio Leoni de León, con el apoyo de los estudiantes Adrián Fernández Malavassi 
                            y Paul Fernández Barrantes, de la Escuela de Ciencias de la Computación e Informática. 
                            El primer prototipo del juego consistió en completar crucigramas, que contenían vocablos por campos semánticos.
                        </p>

                        <p>
                            En ese momento, Horrografía solo contaba con un nivel, pues estaba en la fase de prototipo. A partir de ese prototipo,
                            se esperaba buscar alguna alianza externa para tener los recursos para mejorar la interfase gráfica, hacer mejoras en
                            la programación y difundirlo masivamente. Para obtener mayor información sobre el desarrollo de la aplicación se puede
                            consultar el <a href="https://revistas.ucr.ac.cr/index.php/kanina/article/view/29517/29414" target="_blank">artículo</a>.
                        </p>

                        <p>
                            Con este propósito, se buscó el apoyo de la Unidad de Gestión y Transferencia del Conocimiento (Proinnova) de la Vicerrectoría 
                            de Investigación de la UCR. Proinnova brindó asesoría sobre propiedad intelectual, posibles mercados para el producto y búsqueda 
                            de patrocinadores, con el fin de que hubiera una transferencia exitosa a la sociedad costarricense. De esta manera se pudo empezar 
                            la tercera fase del desarrollo de la aplicación.
                        </p>

                        <p>
                            La tercera etapa, llevada a cabo gracias a la gestión de Proinnova, permitió el desarrollo del producto final, a cargo del estudiante 
                            Daniel Montoya Aguilar, quien lo desarrolló como su trabajo final de graduación con la asesoría de Proinnova.
                        </p>

                        <p>
                            PARRAFO FINAL SOBRE COMO NO SE PUBLICÓ ESA APLICACION Y SE HIZO ESTA PÁGINA
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

@code {

}
