@page "/equipo"
@using Horrografia.Client.Shared.Components.TeamPage
 
<section class="hero is-info is-medium is-bold" style="height: 500px;">
    <div class="hero-body about-display">
        <div class="container has-text-centered">
            <h1 class="title">
                Conozca al equipo detrás de Horrografía
            </h1>
        </div>
    </div>
</section>

<div class="container">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">
                                Sobre el equipo de horrografía
                            </p>
                        </div>
                    </div>
                    <div class="content article-body has-text-justified">
                        <p>
                            El equipo de Horrografía ha trabajado interdisciplinariamente desde hace 
                            varios años en la creación de una aplicación para mejorar lúdicamente la 
                            ortografía de estudiantes de secundaria y de  personas que estudian el español 
                            como lengua extranjera, o para quien quiera mejorar su ortografía divirtiéndose.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="columns is-centered">
    <div class="article-bottom">    
        <div class="column is-8 is-10-mobile">        
            <div class="columns is-multiline is-centered">
                <div class="column is-half-desktop">
                    <BioCard BackroundImageSource="/Images/Team Images/FondoAdrian.jpg"
                                PersonImageSource="/Images/Team Images/Adrian.jpg"
                                Name="Adrián Sibaja Retana"
                                PersonRole="Programador y diseñador"
                                Bio="Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Maecenas mollis ullamcorper scelerisque.
                                Pellentesque sodales enim at bibendum laoreet. Donec porta
                                leo vel dui finibus, in euismod metus molestie. Vestibulum v
                                estibulum maximus ornare." />
                </div>
                <div class="column is-half-desktop">
                    <BioCard BackroundImageSource="/Images/Team Images/FondoAdrian.jpg"
                                PersonImageSource="/Images/Team Images/Adrian.jpg"
                                Name="Adrián Sibaja Retana"
                                PersonRole="Programador y diseñador"
                                Bio="Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Maecenas mollis ullamcorper scelerisque.
                                Pellentesque sodales enim at bibendum laoreet. Donec porta
                                leo vel dui finibus, in euismod metus molestie. Vestibulum v
                                estibulum maximus ornare." />
                </div>
                <div class="column is-half-desktop">
                    <BioCard BackroundImageSource="/Images/Team Images/FondoAdrian.jpg"
                                PersonImageSource="/Images/Team Images/Adrian.jpg"
                                Name="Adrián Sibaja Retana"
                                PersonRole="Programador y diseñador"
                                Bio="Lorem ipsum dolor sit amet, consectetur
                                adipiscing elit. Maecenas mollis ullamcorper scelerisque.
                                Pellentesque sodales enim at bibendum laoreet. Donec porta
                                leo vel dui finibus, in euismod metus molestie. Vestibulum v
                                estibulum maximus ornare." />
                </div>
            </div>
        </div>
    </div>
</div>
