@page "/equipo"
@using Horrografia.Client.Shared.Components.TeamPage
 
<section class="hero is-info is-medium is-bold" style="height: 500px;">
    <div class="hero-body about-display">
        <div class="container has-text-centered">
            <h1 class="title">
                Conozca al equipo detrás de Horrografía
            </h1>
        </div>
    </div>
</section>

<div class="container">
    <section class="articles">
        <div class="column is-8 is-offset-2">
            <!-- START ARTICLE -->
            <div class="card article">
                <div class="card-content">
                    <div class="media">
                        <div class="media-content has-text-centered">
                            <p class="title article-title">
                                Sobre el equipo de horrografía
                            </p>
                        </div>
                    </div>
                    <div class="content article-body has-text-justified">
                        <p>
                            El equipo de Horrografía ha trabajado interdisciplinariamente desde hace 
                            varios años en la creación de una aplicación para mejorar lúdicamente la 
                            ortografía de estudiantes de secundaria y de  personas que estudian el español 
                            como lengua extranjera, o para quien quiera mejorar su ortografía divirtiéndose.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>


<div class="columns is-centered">
    <div class="article-bottom">    
        <div class="column is-8 is-10-mobile">        
            <div class="columns is-multiline is-centered">
                <div class="column is-half-desktop">
                    <BioCard BackroundImageSource="/Images/Team Images/FondoAdrian.jpg"
                                PersonImageSource="/Images/Team Images/Adrian.jpg"
                                Name="Adrián Sibaja Retana"
                                PersonRole="Programador y diseñador"
                                Bio="Egresado de la Universidad de Costa Rica en la carrera de Computación 
                                con énfasis en Ciencias de la Computación. Desarrolló y diseñó
                                la aplicación web de Horrografía durante su último año y medio de carrera."/>
                </div>
                <div class="column is-half-desktop">
                    <BioCard BackroundImageSource="/Images/Team Images/FondoAdrian.jpg"
                                PersonImageSource="/Images/Team Images/Antonio.jpg"
                                Name="Jorge Antonio Leoni de León"
                                PersonRole="Director del proyecto"
                                Bio="Especialista en Lingüística Computacional, dirige el Instituto de 
                                Investigaciones Lingüísticas de la Universidad de Costa Rica, así como la 
                                revista Káñina desde 2015.  En Lingüística sus intereses abarcan, además del 
                                desarrollo de aplicaciones móviles de base lingüística, la sintaxis formal y la 
                                representación léxica. También se ha abocado a la política lingüística, la 
                                planificación lingüística y la Historia del Arte en América Central." />
                </div>
                <div class="column is-half-desktop">
                    <BioCard BackroundImageSource="/Images/Team Images/FondoAdrian.jpg"
                                PersonImageSource="/Images/Team Images/Daniela.jpg"
                                Name="Daniela Sánchez Sánchez"
                                PersonRole="Funcionaria en el Instituto de Investigaciones Lingüísticas"
                                Bio="Licenciada en Filología Española y estudiante de la Maestría Académica en 
                                Lingüística. Actualmente se desempeña como lexicógrafa del Programa Estudios de 
                                Lexicografía del INIL. Posee experiencia como docente en la Universidad de Costa 
                                Rica y otras universidades estatales en cursos de redacción académica, expresión 
                                oral y gramática." />
                </div>
                <div class="column is-half-desktop">
                    <BioCard BackroundImageSource="/Images/Team Images/FondoAdrian.jpg"
                                PersonImageSource="/Images/Team Images/Yorleny.jpeg"
                                Name=" Yorleni Campos"
                                PersonRole="Gestora de Innovación"
                                Bio="Apoyo desde la Unidad de Gestión y Transferencia del Conocimiento para 
                                la Innovación (Proinnova-UCR), en elaboración de estrategia de protección de 
                                propiedad intelectual y lanzamiento del juego al usuario final." />
                </div>
            </div>
        </div>
    </div>
</div>
