
@if (IsLoading)
{
    <section class="section is-large">
        <div class="container has-text-centered is-justify-content-center">
            <div class="columns">
                <div class="column ">
                    <h1 class="is-size-1">@Titulo</h1>
                </div>
            </div>
            <div class="columns">
                <div class="column ">
                    <progress class="progress is-medium is-primary " max="100">45%</progress>
                </div>
            </div>
        </div>
    </section>
}
else
{
    @ChildContent
}

@code {
    [Parameter]
    public string Titulo { get; set; }

    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public RenderFragment ChildContent { get; set; }
}
