<section class="section is-large has-text-centered">
    <h1 class="title">ITEMSSSSSS</h1>
    <h2 class="subtitle">
        No encontramos ningun tag en la base de datos.
    </h2>
    <div class="article-bottom">
        <button class="button is-success is-light is-medium">Añadir Tag</button>
    </div>
</section>