@using Horrografia.Client.Shared.Components.Dashboard.ItemAdministration.TagAdministration

<div class='block container'>
    <div class='columns is-mobile is-centered'>
        <div class='column is-8'>
            <div class="block has-text-centered">
                <h1 class='title'> Administración de Items</h1>
                <hr>
            </div>
            <div class="block">
                <div class="select is-medium is-fullwidth">
                    <select class="form-control" @bind="_IdEnSeleccionDePagina">
                        <option selected value="@INVALID_OPTION">Seleccione un nivel</option>
                        @foreach (var nivel in Niveles)
                        {
                            <option value="@nivel.Id">@nivel.Nombre</option>
                        }
                    </select>
                </div>
            </div>
            @if (_IdNivelEscogido != INVALID_OPTION)
            {
                <table class="block table is-bordered is-striped is-hoverable is-fullwidth">
                    <thead>
                        <tr>
                            <th>Item</th>
                            <th>Tags</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in _itemsDeNivel)
                        {
                            <tr>
                                <td>
                                    <div class="block ">
                                        <p class="is-size-5">
                                            @item.FormaCorrecta
                                        </p>
                                    </div>
                                </td>
                                <td>
                                    <div class="block">
                                        <button class="button is-success is-small is-pulled-right" @onclick="() => ShowRelationCreationDialog(item)" >Añadir Tag</button>
                                    </div>
                                    <div class="block tags">
                                        @foreach (var tag in getItemTags(item))
                                        {
                                            <span class="tag is-medium">
                                                @tag
                                                <button class="delete is-small" @onclick="() => DeleteRelation(tag, item)"></button>
                                            </span>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            }
        </div>
    </div>
</div>

<RelationCreationDialog ItemReceived="ItemAModificar"
                        Tags="Tags"
                        ShowDialog="_ShowRelationCreationDialog"
                        OnDialogClose="CloseRelationCreationDialog"
                        OnRelationCreation="CreateRelation" />