<div class='block container'>
    <div class='columns is-mobile is-centered'>
        <div class='column is-8'>
            <div class="block has-text-centered">
                <h1 class='title'>@Escuela.Nombre</h1>
                <hr>
            </div>
            <div class="block">
                <h2 class="subtitle"> Profesores</h2>
            </div>
            <table class='block table is-bordered is-striped is-hoverable is-fullwidth'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Profesores.Any())
                    {
                        @foreach (var nombre in Profesores)
                        {
                            <tr>
                                <td>@nombre</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>La escuela aún no tiene profesor</td>
                        </tr>
                    }
                </tbody>
            </table>
            <div class="block">
                <h2 class="subtitle"> Estudiantes</h2>
            </div>
            <table class='block table is-bordered is-striped is-hoverable is-fullwidth'>
                <thead>
                    <tr>
                        <th>Nombre</th>
                    </tr>
                </thead>
                <tbody>
                    @if (Estudiantes.Any())
                    {
                        @foreach (var nombre in Estudiantes)
                        {
                            <tr>
                                <td>@nombre</td>
                            </tr>
                        }
                    }
                    else
                    {
                        <tr>
                            <td>La escuela aún no tiene estudiantes</td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>