@page "/dashboard/items"
@using Horrografia.Client.Shared.Components.Dashboard.ItemAdministration.General
@using Horrografia.Client.Shared.Constants
@using Horrografia.Client.Shared.Components.General

<PageLoading Titulo="Administración de items y tags" IsLoading="@_isLoading">
    @if (InitialLoadStatus == Constantes.OKSTATUS)
    {
        <div class="tabs is-centered is-medium is-boxed" style="margin-bottom: 0;">
            <ul>
                <li class=@_tagsActiveString>
                    <a @onclick="c => ChangeTabContent(ActiveTabState.ShowTagsTab)">Tags</a>
                </li>
                <li class=@_itemsActiveString>
                    <a @onclick="c => ChangeTabContent(ActiveTabState.ShowItemTab)">Items</a>
                </li>
            </ul>
        </div>
        @switch (_activeTab)
        {
            case ActiveTabState.ShowTagsTab:
                <TagManager 
                            Tags="Tags"
                            Relations="RelacionesItemTag"
                            OnTagCreation="CreateTag"
                            OnTagDeletion="DeleteTag"/>
                break;
            case ActiveTabState.ShowItemTab:
                <ItemManager 
                             Niveles="Niveles"
                             Items="Items"
                             Tags="Tags"
                             Relaciones="RelacionesItemTag"
                             OnRelationCreation="CreateRelation"
                             OnRelationDeletion="DeleteRelation"/>
                break;
        }
    }
    else
    { 
        <ErrorMessage />
    }
</PageLoading>