@page "/dashboard/permisos"
@using Horrografia.Client.Shared.Components.Dashboard.Permission_Administration
@using Horrografia.Client.Shared.Constants
@using Horrografia.Client.Shared.Components.General

@using Microsoft.AspNetCore.Authorization
@attribute [Authorize(Roles = "Admin")]

<PageLoading Titulo="Administración general" IsLoading="@IsLoading">
    @if (InitialLoadStatus == Constantes.OKSTATUS)
    {
        <div class="block tabs is-centered is-medium is-boxed">
            <ul>
                <li class=@_generalActiveString>
                    <a @onclick="c => ChangeTabContent(ActiveTabState.ShowGeneralTab)">Vista general</a>
                </li>
                <li class=@_permissionActiveString>
                    <a @onclick="c => ChangeTabContent(ActiveTabState.ShowPermissionsTab)">Permisos</a>
                </li>
                <li class=@_schoolsActiveString>
                    <a @onclick="c => ChangeTabContent(ActiveTabState.ShowSchoolsTab)">Escuelas</a>
                </li>
            </ul>
        </div>
        @switch (_activeTab)
        {
            case ActiveTabState.ShowGeneralTab:
                <RolesOverview Usuarios="Usuarios"
                               Roles="Roles"
                               UsuariosYRoles="UsuariosYRoles" 
                               CantidadEscuelas="Escuelas.Count()"/>
                break;
            case ActiveTabState.ShowPermissionsTab:
                <RolesAsigner Usuarios="Usuarios"
                              Roles="Roles"
                              UsuariosYRoles="UsuariosYRoles"
                              OnErrorDetection="ShowError"
                              OnAdministratorPermissionGiven="AddAdminRol"
                              OnProfessorPermissionGiven="AddProfessorRol"
                              OnAdministratorPermissionRemoved="RemoveAdminRol"
                              OnProfessorPermissionRemoved="RemoveProfessorRol" />
                break;
            case ActiveTabState.ShowSchoolsTab:
                <SchoolsOverview Escuelas="Escuelas"
                                 OnSchoolCreation="CreateSchool" />
                break;
        }
    }
    else
    {
        <ErrorMessage />
    }
</PageLoading>