@using Microsoft.AspNetCore.Components.Authorization
@using Microsoft.AspNetCore.Components.WebAssembly.Authentication

@inject NavigationManager Navigation
@inject SignOutSessionStateManager SignOutManager

@inherits LayoutComponentBase
<MudThemeProvider />

<body>
    <nav class="navbar is-spaced is-dark" role="navigation" aria-label="main navigation">

        <div class="navbar-brand">
            <a href="/">
                <img src="/Images/Logo2.png" alt="Logo de horrografía" width="180"/>
            </a>
        
            <button class="navbar-burger @NavMenuCssClass" aria-label="menu" aria-expanded="false" data-target="navbarMenu"
                    @onclick="ToggleNavMenu">
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
                <span aria-hidden="true"></span>
            </button>
        </div>

        <div class="navbar-menu @NavMenuCssClass">
            <div class="navbar-end">
                <NavLink href="/sobre" class="navbar-item" ActiveClass="is-active">
                    Sobre el proyecto
                </NavLink>

                <NavLink href="/contacto"class="navbar-item" ActiveClass="is-active">
                    Contacto
                </NavLink>

                <AuthorizeView Roles="Profesor,Admin">
                    <Authorized>
                        <div class="navbar-item has-dropdown is-hoverable">
                            <a class="navbar-link">
                                Administración
                            </a>
                            <div class="navbar-dropdown">
                                <AuthorizeView Roles="Admin" Context="_AutorizacionAdmin">
                                    <Authorized>
                                        <a class="navbar-item" href="/dashboard">
                                            Dashboard
                                        </a>
                                    </Authorized>
                                </AuthorizeView>
                                <AuthorizeView Roles="Profesor,Admin" Context="_AutorizacionDual">
                                    <Authorized>
                                        <a class="navbar-item" href="/estudiantes">
                                            Colegio
                                        </a>
                                    </Authorized>
                                </AuthorizeView>
                            </div>
                        </div>
                    </Authorized>
                </AuthorizeView>

                <div class="navbar-item">
                    <AuthorizeView>
                        <Authorized>
                            <div class="buttons">
                                <a class="button is-primary" href="/perfil">
                                    <strong>Mi Perfil</strong>
                                </a>
                                <a class="button is-light" @onclick="BeginSignOut">
                                    Salir
                                </a>
                            </div>
                        </Authorized>
                        <NotAuthorized>
                            <div class="buttons">
                                <a class="button is-primary" href="/registrarse">
                                    <strong>Registrarse</strong>
                                </a>
                                <a class="button is-light" href="/ingresar">
                                    Ingresar
                                </a>
                            </div>
                        </NotAuthorized>
                    </AuthorizeView>
                </div>

            </div>
        </div>

    </nav>
    <div>
        @Body
    </div>
</body>

<MudThemeProvider />
<MudDialogProvider FullWidth="true"
                   MaxWidth="MaxWidth.Small"
                   DisableBackdropClick="true"/>
<MudSnackbarProvider />

@code{
    private bool _collapseNavMenu = true;

    private string NavMenuCssClass => _collapseNavMenu ? null : "is-active";

    private void ToggleNavMenu()
    {
        _collapseNavMenu = !_collapseNavMenu;
    }

    private async Task BeginSignOut(MouseEventArgs args)
    {
        await SignOutManager.SetSignOutState();
        Navigation.NavigateTo("/");
    }
}